bin
logs/
.settings/
target/
.idea
*\.project
*\.classpath
*\.history
.cache-main
.cache-tests
*\.DS_Store
\.metadata
*.iml
/target-eclipse/
out/
wip/
.flattened-pom.xml*

*.class
.vscode
checkstyle.xml
.factorypath
